body{
  margin: 0;

}
container{
    width:1024px;
    height: auto;
    margin:auto;

}
header{
    width: 1024px;
    height: 70px;
    background-color:#000; 
    text-align: center;
    color:#fff;
    font-size:40pt;
    font-family:fantasy;
    margin:auto;
    
}

nav{
    width:1024px;
    height: 30px;
    background-color:#f00; 
    font-size: 20px;
    font-family: verdana;
    margin:auto;
    
}
nav a{
	display:block;
   text-decoration: none;
    }
li{
	float:left;
    width:25%;
}
ul{width:25%;
	list-style: none;
    /*padding-top: 1px*/; 
    margin: auto;
}
nav a:link{
	color:#fff;
	/*background-color:#f00*/;
}
    nav a:visited{color:#fff;}
    nav a:hover{height:20px;
	color: #ddd;
	background-color:#fff;
	font-size:20px;}
    nav a:active{color:#fff;color:#fff;}

section{
    width:1024px;
    height: 500px;
    background-image: url(mag1.jpg);
    background-position: center;
    /*background-color: rgba(255,255,255,0.3)*/;
    margin:auto;
   
   
}


footer{
    width: 1024px;
    height: 25px;
    font-size:10pt ;
    font-family: verdana;
    background-color:#000; 
    text-align: center;
    margin:auto;
    
}
footer a{
	float: left;
    width:100%;
	text-align: center;
	text-decoration: none;
    }
footer a:link{
	color:#ddd;
}
footer a:visited{color:#ddd;}
    footer a:hover{color:#fff;font-size:10pt;}