body{
  margin: 0;

}
container{
    width:90%;
    height: auto;
    margin:auto;

}
header{
    width: 50%;
    height: 80px;
    /*background-color:#fff*/; 
    text-align:left;
    color:#000;
    font-size:40px;
    font-family:Helvetica;
    margin:auto;
    margin-right:45%;
    margin-top: 30px;
    
}
img{
  border-bottom:100px;
}

nav{
    width:50%;
    height: 30px;
     font-size: 15px;
    font-family: verdana;
    margin:auto;
    margin-left: 50%;
    top: 50px;
    position: fixed; 
}
nav a{width:25%;
	display:block;
   text-decoration: none;
    float:left;
    }
.superImportant{
	color:#000;
	
    }
ul{
	list-style: none;
    
}
nav a:link{
	color:darkgray;
}
    nav a:visited{color:darkgray;}
    nav a:hover{color:#f04;
	font-size:15px;}
    nav a:active{color:#fff;color:#fff;}

section{
    width:90%;
    height: auto;
    background-color:#000 ;
    /*background-image: url(mag1.jpg)*/;
    background-position: center;
    /*background-color: rgba(255,255,255,0.3)*/;
    margin:auto;
   
   
}


footer{
    width: 90%;
    height: 25px;
    font-size:10pt;
    font-family: Helvetica;
    background-color:#000; 
    text-align: center;
    margin:auto;
    position:relative;
  
   
}
footer a{
    display: block;
	float: left;
    width:100%;
	text-decoration: none;
    }
footer a:link{
	color:#ddd;
}
footer a:visited{color:#ddd;}
    footer a:hover{color:#fff;font-size:10pt;}