body{
  margin: 0;
    background-image: url(chat.jpg)
}

header{
    width: auto;
    height: 50px;
    background-color:#ff9; 
    text-align: center;
}

nav{
    width:auto;
    height: 20px;
    background-color: burlywood;
}

section{
    width:auto;
    height: 1000px;
    /*background-color: rgba(255,255,100,0.3);*/
}
